<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest1()[pri:1, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personCreationTest1</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest2()[pri:2, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personCreationTest2</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest3()[pri:3, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personCreationTest3</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest4()[pri:4, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personCreationTest4</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest()[pri:13, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personDeleteTest</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:54</td>   <td>1824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest1()[pri:14, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personDeleteTest1</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadAllTest()[pri:8, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personReadAllTest</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest()[pri:5, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personReadTest</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest1()[pri:7, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personReadTest1</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest2()[pri:6, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personReadTest2</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest()[pri:9, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personUpdationTest</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest1()[pri:10, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personUpdationTest1</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest2()[pri:11, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personUpdationTest2</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest3()[pri:12, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personUpdationTest3</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:53</td>   <td>1761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest4()[pri:13, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">personUpdationTest4</td> 
  <td>main@31033660</td>   <td></td> </tr>
<tr bgcolor="8e6f78">  <td>20/11/16 23:04:52</td>   <td>-209</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonServiceTestCase.setup()[pri:0, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@12828c9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@31033660</td>   <td></td> </tr>
</table>
